.sidebar{
    width: 14rem;
    height: calc(100vh - 52px);
    border-right: gray;
}

.ul{
    list-style: none;
    padding: 1rem 2 rem;
}

.ul .li{
    margin-bottom: 1rem;
}

.ul .li .a{
    text-decoration: none;
}